/* @import url(../../Styles/global.css); */

input {
  font-family: "Lato";
  padding: 1rem;
	width: 12rem;
	margin-top: 20px;
	justify-content: center;
	border-radius: 9px;
	align-items: center;
	color: var(--champagne-pink);
	background-color: var(--eerie-black-darker);
	border: none;
	outline: none;
	box-shadow: var(--eerie-black) 11px 11px 57px, var(--jet) -11px -11px 57px;
}