@import url(../../Styles/global.css);

.hall-input {
  font-family: "Lato";
  /* padding: 1rem; */
	width: 14rem;
	height: 2.5rem;
	text-align: center;
	border-radius: 9px;
	color: var(--champagne-pink);
	background-color: var(--eerie-black-darker);
	border: none;
	outline: none;
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
	box-shadow: var(--eerie-black) 11px 11px 57px, var(--jet) -11px -11px 57px;
}