.button {
    border-radius: 15px;
    padding: 5px 15px;
    border:none;
    cursor: pointer;
    color: #1e1e1e;
    transition: .2s;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.button.primary {
    background: blue;
}
.button.primary:hover{
    background: rgb(39, 39, 212);
}
.button.secundary {
    background: #D5C06B;

}
.button.secundary:hover{
    background: #EFDB88;
}
