@import url(../../Styles/global.css);

.button {
    border-radius: 1.5rem;
    padding: 0.5rem 3rem;
    margin-top: 1rem;
    border:none;
    cursor: pointer;
    color: var(--eerie-black);
    transition: .2s;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

.button.primary {
    background: var(--vegas-gold);
    margin-bottom: 1.5rem;
}
.button.primary:hover{
    background: var(--eerie-black-darker);
    color:var(--buff);
}
.button.secundary {
    background: var(--vegas-gold);
    width: 12rem;
    height: 2.2rem;
    margin-bottom: 0;
}

.button.secundary:hover{
    background: var(--buff);
}

.button.tertiary {
    background: var(--rosso-corsa);
    width: 8rem;
    height: 2.2rem;
    color: var(--champagne-pink);
}

.button.tertiary:hover{
    background: var(--cinnabar);
}

.button.quaternary {
    background: var(--spanish-green);
    width: 8rem;
    height: 2.2rem;
    color: var(--champagne-pink);
}

.button.quaternary:hover{
    background: var(--shamrock-green);
}