@import url(../Styles/global.css);

body {
  background-color: var(--eerie-black);
  color: var(--champagne-pink);
}

.orders-section {
  top: 10rem;
  gap: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.orders {
  left: 10rem;
  text-transform:uppercase;
  font-size: 1rem;
  background-color: var(--eerie-black-darker);
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 30vw;
  padding: 20px 21px;
  top: 2rem;
  font-weight: 500;
}

.orders:hover {
  background-color: var(--jet);
}

.details-client {
  padding: 0.3rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pending-orders {
  background-color: var(--fire-opal);
  width: 12rem;
  height: 2.5rem;
  margin: 0.3rem;
  padding-top: 0.4rem;
  border-radius: 1.5rem;
  display:inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pending-orders:hover {
  background-color: var(--cinnabar);
}

.order-up {
  background-color: var(--sea-green);
  width: 12rem;
  height: 2.5rem;
  margin: 0.3rem;
  padding-top: 0.5rem;
  border-radius: 1.5rem;
  display:inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.order-up:hover {
  background-color: var(--spanish-green);
}

.historic-orders {
  background-color: var(--jet);
  width: 12rem;
  height: 2.5rem;
  margin: 0.3rem;
  padding-top: 0.5rem;
  border-radius: 1.5rem;
  display:inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.historic-orders:hover {
  background-color: var(--eerie-black-darker);
}

.container-order {
  margin-bottom: 1rem;
}

.buttons {
  display: grid;
  justify-content: center;
}

.delete-btn {
  align-content: center;
	justify-content: center;
  text-align: center;
  margin: 1.25rem;
	margin-top: 1.44rem;
	height: 2.6rem;
	width: 2.6rem;
	background-color: var(--raisin-black);
	font-size: 1.8rem;
	border-radius: 2.6rem;
  border-style: none;
}

.delete-btn:hover {
	background-color: var(--eerie-black);
  color: var(--champagne-pink);
}

.trash-icon {
  margin: 0.2rem;
  height: 1.9rem;
	width: 1.9rem;
  display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin-top: 0.4rem;
}