@import url(./global.css);

.not-found {
  position: relative;
  height: 100vh;
}

.not-found .not-found-main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.not-found-main {
  align-items: center;
  max-width: 32.5rem;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound-main .notfound-404 {
  height: 11.875rem;
}

.not-found-main .notfound-404 h1 {
  font-family: "Lato", sans-serif;
  font-size: 9.38rem;
  font-weight: 700;
  margin: 0;
  color: var(--rosso-corsa);
}

.not-found-main .notfound-404 h1 > span {
  display: inline-block;
  width: 7.5rem;
  height: 7.5rem;
  background-image: url("../assets/icons/burger.png");
  background-size: cover;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-bottom: 1rem;
}

.not-found-main h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: var(--cinnabar);
}

.not-found-main p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.not-found-main a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 0.75rem 1.875rem;
  font-weight: 700;
  border-radius: 2.5rem;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.not-found-main a:hover {
  opacity: 0.8;
}


@media only screen and (max-width: 767px) {
  .not-found-main .notfound-404 {
    height: 7.18rem;
  }
  .not-found-main .notfound-404 h1 {
    font-size: 5.37rem;
  }
  .not-found-main .notfound-404 h1 > span {
    width: 5.375rem;
    height: 5.375rem;
  }
}

@keyframes floating {
  from {
    transform: scale(1.4) translate(0, 0);
  }

  50% {
    transform: scale(1.4) translate(0, 15px);
  }

  to {
    transform: scale(1.4) translate(0, 0);
  }
}