@import url(../Styles/global.css);

.register {
  background: var(--raisin-black);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  /* height: 100vh;
  width: 100vw; */
}

.register .register-page-main {
  margin-top: 2rem;
  background: var(--raisin-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register .register-page-main .register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register .register-page-main .form-group {
  display: grid;
  margin-bottom: 0.5rem;
}

.register .register-page-main .form-group input {
  width: 20rem;
  height: 2.5rem;
  padding: 0.1rem 0.3rem;
  background:var(--vegas-gold);
  border-radius: 1rem;
  font-family: inherit;
}

.register .register-page-main .form-group input::placeholder {
  color:var(--jet);
  font-size: 1.1rem;
  font-weight:700;

}

.register .register-page-main .form-group p {
  font-size: 0.9rem;
  color: var(--rosso-corsa);
  min-height: 1.2rem;
  position: relative;
}

.register .register-page-main .error-message {
  min-height: 1.2rem;
}

.icons-role {
  display:flex;
  align-items: center;
  flex-direction: row;
}

.register .register-page-main .user-login {
  color: var(--jet);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color:var(--champagne-pink);
}

.register .register-page-main .tologin {
  color: var(--jet);
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  color:var(--champagne-pink);
  margin-bottom: 2rem;
}

.register .register-page-main .tologin:hover {
  color: var(--vegas-gold);
}

