@import url(../../Styles/global.css);

footer { 
  position: fixed;
  height: 4vh;
  background: var(--raisin-black);
  bottom: 0;
  width: 100%;
  color: var(--buff);
  text-transform: uppercase;
  font-weight: 500;
}

p {
  text-align: center;
}

.footer-links {
  text-decoration: none;
  font-weight: 600;
  transition: all .2s ease;
  color: var(--buff);
}
.footer-links:hover {
  border-bottom: 2px solid var(--vegas-gold);
}